/* CSS comments look like this.
    You can use them to take notes right inline */
* {
  box-sizing: border-box;
    }
body
{
  background-color: grey;
}
.bright {
  color: lime;
}
.dull {
  color: orange;
}
img {
width:30%;
border:10px dashed purple;
}
